body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: ". ."
                         "gameboard gameboard"
                         "winnerDeclaration winnerDeclaration";
}

.gameboard {
    grid-area: gameboard;
    justify-self: center;
    align-self: center;
    width: clamp(200px, 25vw, 500px);
    height: clamp(200px, 25vw, 500px);
    display: grid;
    grid-template-columns: repeat(3, minmax(10px, 1fr));
    grid-template-rows: repeat(3, minmax(10px, 1fr));
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid gray;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.row-1 {
    border-top: none;
}

.row-3 {
    border-bottom: none;
}

.column-1 {
    border-left: none;
}

.column-3 {
    border-right: none;
}

.winnerDeclaration{
    grid-area: winnerDeclaration;
    justify-self: center;
    align-self: end;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}