body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "playerSelectArea side-select-area"
        "gameboard gameboard"
        "winnerDeclaration winnerDeclaration";
    background-color: #818181;
}

.gameboard {
    grid-area: gameboard;
    position: relative;
    justify-self: center;
    align-self: center;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, minmax(10px, 1fr));
    grid-template-rows: repeat(3, minmax(10px, 1fr));
    background-color: white;
    box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.75);
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid gray;
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.cell:hover {
    background-color: rgb(207, 207, 207);
}

.row-1 {
    border-top: 4px solid black;
}

.row-3 {
    border-bottom: 4px solid black;
}

.column-1 {
    border-left: 4px solid black;
}

.column-3 {
    border-right: 4px solid black;
}

.winner-declaration {
    grid-area: winnerDeclaration;
    min-height: 40px;
    min-width: 1px;
    justify-self: center;
    align-self: end;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

button {
    box-sizing: border-box;
}

.replay-button, .start-button {
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    width: 164px;
    height: 64px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.start-button {
    font-size: 1.5rem;
    top: -100px;
}

.replay-button {
    font-size: 2rem;
    bottom: -100px;
}

.player-select-area {
    box-sizing: border-box;
    grid-area: playerSelectArea;
    display: flex;
    flex-direction: column;
    padding: 32px 0px 0px 32px;
    gap: 24px;
}

select {
    height: 32px;
}

.player-select {
    width: clamp(200px, 20vw, 400px);
}

.difficulty-select {
    width: clamp(150px, 10vw, 300px);
}

.side-select-area {
    grid-area: side-select-area;
    padding-top: 32px;
    display: flex;
    justify-content: center;
    gap: 48px;
}

.side-select-button {
    position: relative;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
    height: 64px;
    width: 164px;
    border-radius: 6px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

.disabled {
    top: 2px;
    left: 1px;
    box-shadow: none;
    border: 2px solid rgba(102, 255, 0, 0.75);
    ;
    color: black;
}

.x {
    background-color: rgba(51, 106, 189, 0.75);
}

.o {
    background-color: #ba2929;
}